* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    overflow-x: hidden ;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #c4740b;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  width: 10em;
}

.active, .collapsible:hover {
  background-color: #b15804;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #c5852449;
  }

  .btn_create{
    display: flex;
    justify-content: end;
 
    
  }
  .a_create{
    text-decoration: none;
    margin-top: 2em;
  }