* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    overflow-x: hidden ;
}

/* Style the button that is used to open and close the collapsible content */

  .btn_create{
    display: flex;
    justify-content: end;
 
    
  }
  .a_create{
    text-decoration: none;
    margin-top: 2em;
  }

  .a_link{
    text-decoration: none;
    margin-top: 2em;
  }
.crud{
  display: flex;
  flex-direction:row;
  justify-content: end;
  align-items: center;
  gap: 1em;
}

.btn_delete{
  border-style: none;
  color: blue;
}


.heading{
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
.heading_t{
  font-size:2.4em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-top: 1em;

}
/* (A) LIST STYLES */
.slist {
  list-style: none;
  padding: 0;
  margin: 0;
}
.slist li {
  margin: 10px; 
  padding: 15px;
   border: 1px solid ;
}

.slist li.active {
  border: 1px solid #607edf;
}