* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    overflow-x: hidden ;
}

/* Style the button that is used to open and close the collapsible content */

  .btn_create{
    display: flex;
    justify-content: end;
 
    
  }
  .a_create{
    text-decoration: none;
    margin-top: 2em;
  }

  .a_link{
    text-decoration: none;
    margin-top: 2em;
  }
.crud{
  display: flex;
  flex-direction:row;
  justify-content: end;
  align-items: center;
  gap: 1em;
}

.btn_delete{
  border-style: none;
  color: blue;
}
.task_crud{
  margin-top: 1em;
  display: flex;
  gap: 1em;

}



